@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Oleo Script',cursive;
}
.wallpaper{
   width:100vw;
   height:100vh;
   background:linear-gradient(-45deg,#f19c81,#E73C7E,#095bf3,#0ff3af,#1de2c8);
   position:relative;
   background-size:400% 400%;
   animation:change 10s ease-in-out infinite;
}
@keyframes change{
    0%{
        background-position:0 50%;

    }
    50%{
        background-position:100% 50%;
    }
    100%
    {
        background-position:0 50%;
    }
}
/*this part is the wallpaper animation */

.anim{
    position:relative;
    overflow:hidden;
    display:flex;
    padding:4rem;
    margin:0 0 0.5rem 0 ;
    font-size:6rem;

}
.anim li{
     list-style:none;
     transition:1.5s;
     letter-spacing:3px;
     color:#fff;
     -webkit-box-reflect:below -40px linear-gradient(transparent,rgba(0,0,0,0.2));
     
}
.anim:hover li{
    transform: rotate(65deg) translateY(-15rem);
    opacity:0;
    filter: blur(1.5rem);
}
.anim:hover::after{
    transform: scale(0.9);
    transition-delay:0.5s;
    opacity:0.8;
}
li:nth-child(1){
  transition-delay:0;
}


li:nth-child(1){
    transition-delay:0.2s;
  }
  
  li:nth-child(2){
    transition-delay:0.4s;
  }
  li:nth-child(3){
    transition-delay:0.6s;
  }

  li:nth-child(4){
    transition-delay:0.8s;
  }

  li:nth-child(5){
    transition-delay:1s;
  }
  li:nth-child(6){
    transition-delay:1.2s;
  }
  li:nth-child(7){
    transition-delay:1.4s;
  }

/*separated to avoid confusion of using scaling */
.tagline{
    font-size:3rem;
    color:#fff;
    margin:0 0 3rem 0;
}
.tagline {
    transition:all 0.3s ease-in;     
     transform:scale(1);
}
.tagline:hover{
    transform:scale(1.1);
}



.container{
    position:relative;
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    margin:auto;
    padding:2rem;
    text-align: center;
    flex-direction: column;
    max-width: 40rem;
}
.button1{

    text-decoration:none;
    font-size:2.5rem;
    margin:0 0 2.5rem 0;
    padding:8px 7px;
    width:300px;
    height:70px;
    border-radius:10px;
    box-shadow: 3px 1px 7.5px 7px  #fff;
    cursor:pointer;
    overflow: hidden;
}
.button2{
    border:2px  solid #fff;
    text-decoration:none;
    font-size:2.5rem;
    margin:0 0 1.5rem 0;
    padding:6px 6px;
    width:350px;
    height:70px;
    border-radius:10px;
   cursor:pointer;
   box-shadow: 3px 1px 7.5px 7px  #fff;
   overflow: hidden;
}
.btn1{
    color:#fff;
transform:scale(1);
transition: all 0.3s ease-in;
}
.btn1:hover{
    color:#000;
 transform:scale(1.1);
}
.button1::before{
    content: "";
    position: absolute;
    left:0;
    width:100%;
    height:0%;
    background:linear-gradient(to right,#ff105f,#ffad06);
    z-index: -1;
    transition: 0.8s;
}
.btn1::before{
   top:0;
   border-radius: 0 0 50% 50%;
}
.btn1:hover::before{
    height:180%;
}

.btn2{
    color:#fff;
transform:scale(1);
transition: all 0.3s ease-in;
}
.btn2:hover{
    color:yellow;
 transform:scale(1.1);
}
.button2::before{
    content: "";
    position: absolute;
    left:0;
    width:100%;
    height:0%;
    background:linear-gradient(to right,#0c0c0c,#06ffea);
    z-index: -1;
    transition: 0.8s;
}
.btn2::before{
   top:0;
   border-radius: 0 0 50% 50%;
}
.btn2:hover::before{
    height:180%;
}


@media only screen and (max-width:600px){
     .anim{
         font-size:4.5rem;
     }
     .tagline{
         font-size:2.0rem;
     }
     .button1{
         width:60vw;
     }
     .button2{
         width:60vw;
         font-size:2.5rem ;
     }
}